@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nail Salon Manager</h1>
    <p class="lead">Nail Salon Manager is an application for Nail Salons' owners to keep track of the shop's earnings as well as for employees to keep track of their individual earnings.</p> <br>
    <p class="lead">This application is intended for me to practice developing in C#'s ASP.NET MVC.</p>
    <p class="lead">
    Please @Html.ActionLink("log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) or
    @Html.ActionLink("register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) to continue.
    </p>
</div>
