@model Nail_Salon_Manager.Models.Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    @if (Model.DOB.HasValue)
    {
        <li>DOB: @String.Format("{0:MM/dd/yyyy}", Model.DOB)</li>
    }

    @if (Model.Address != null)
    {
        <li>Address: @Model.Address</li>
    }
</ul>