@model IEnumerable<Nail_Salon_Manager.Models.Employee>

@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employees</h2>
<p>
    @Html.ActionLink("New Employee", "New", "Employees", null, new { @class = "btn btn-primary" })
</p>

@if (!Model.Any())
{
    <p>You currently do not have any employees.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Employee</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@Html.ActionLink(employee.Name, "Details", "Employees", new { id = employee.Id }, null)</td>
                    <td>@Html.ActionLink(" " , "Edit", "Employees", new { id = employee.Id }, new { @class = "glyphicon glyphicon-edit" })</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}